
/*Home Page*/
#whole {
    height: 600px;
    width: 800px;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
}

#name {
    position: relative;
    height:33%;
    width:100%;
    margin:0px;
}

#mainMenu {
    position: relative;
    vertical-align:top;
    height:27%;
    width:100%;
    margin:0px;
    padding:0px;
}

#topArrow {
    position: relative;
    vertical-align:top;
    height:11%;
    width:100%;
    margin:0px;
    padding:0px;
}

#bottomArrow {
    position: relative;
    vertical-align:top;
    height:6%;
    width:100%;
    margin:0px;
    padding:0px;
}

#description {
    position: relative;
    height:23%;
    width:100%;
    padding:30px;
}

.mItem {
    vertical-align:top;
    position: relative;
    display: inline-block;
    height:100%;
    width:19.5%; 
    margin:0px;
    padding: 0px;
}

.mItem img {
    display: block;
    margin: auto;
    width: 70%;
    padding-bottom:20px;
    height: auto;

    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -o-transition: all .5s ease; /* IE 9 */
    -ms-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.mItem:hover img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

.arrow img {
    display: block;
    margin: auto;
    height: auto;
    width: 40%;
}


/*Content Pages*/
.centerContent {
    height: 100%;
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 25%;
    background: #b3ccc9;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4), 0 10px 30px 0 rgba(0, 0, 0, 0.4);
}

/*Header Bar of Content Pages*/
.header {
    position: relative;
    vertical-align:top;
    height:18%;
    width:100%;
    margin:0px;
    padding:0px;
    background: #476b66;
}

.back {
    vertical-align:top;
    position: relative;
    display: inline-block;
    height:100%;
    width:12%; 
    margin:0px;
    padding: 0px;
}

.back img {
    display: block;
    margin: 0px;
    width: auto;
    padding: 0px;
    height: 100%;
}

.icon {
    vertical-align:top;
    position: relative;
    display: inline-block;
    height:100%;
    width:85%; 
    padding-top: 1.8%;
    padding-bottom: 1.8%
}

.icon img {
    float: left;
    display: block;
    height: 80%;
    width: auto;
    padding-right: 5%;
    padding-left: 1%;

}

/*Main Content of Content Pages*/
.contentPadded {
    position: relative;
    vertical-align:top;
    height:69%;
    width:100%;
    margin:0px;
    padding-top:8%;
    padding-bottom:3%;
    word-wrap: break-all;
    overflow: auto;

}

.contentNoPad {
    position: relative;
    vertical-align:top;
    height:76%;
    width:100%;
    margin:0px;
    padding-bottom:3%;
    word-wrap: break-all;
    overflow: auto;
}

#resumeContent {
    text-align: center;
}

#aboutContent img {
    width: 300px;
    height: auto;
    float: left; 
    padding-right: 15px;
    padding-bottom: 2px;
}

#codeContent img {
    width: 230px;
    height: 200px;
    float: left;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 30px;
}

.musicMenu {
    vertical-align:top;
    position: relative;
    display: inline-block;
    height:10%;
    width:32%; 
    margin:0px;
    padding: 0px;
    padding-top: 10px;
}

body {
    background: #729f98;
}

h1 {
    margin: 0px;
    text-align:center;
    color:#f0eceb;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 8em;
}

h2 {
    margin: 0px;
    text-align:center;
    color:#f0eceb;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 2em;
}

h3 {
    margin: 0px;
    text-align:left;
    color:#f0eceb;
    font-family: 'Roboto Slab', sans-serif; 
    padding: 0px;
    font-size: 10vh;
}

h4 {
    margin: 0px;
    text-align:left;
    color:#173e43;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1.5em;
    margin-bottom: 40px;
    margin-left: 30px;
}

h5 {
    margin: 0px;
    text-align:left;
    color:#173e43;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

p {
    margin-left: 30px;
    margin-right: 30px;
    text-align:left;
    word-wrap: break-word;
    color:#173e43;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1em; 
    line-height: 145%; 
}

#resumeContent p {
    margin-top: 40px;
    text-align:center;
}

#contactContent p {
    text-align:center;
}

.content_mus h6 {
    text-align: left;
    color:#173e43;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1.3em; 
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
}
.mItem p {
    text-align: center;
    color:#173e43;
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1em; 
    margin-top: 0px;
}

.musicMenu p {
    text-align: center;
}

.musicMenu a {
    color: #173e43;
}